<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">



</head>

<body role="document">

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Chat</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container theme-showcase" role="main">

    <h2>Chats</h2>
    <p>The différent chat are here</p>
    <ul  class="list-group">
        <% chats.forEach(function(el, index) { %>
            <li class="list-group-item"><a href="chat/<%= encodeURI(el) %>"> <%= el %> </a> </li>
        <%});
        %>
    </ul>

    </div>

<div class="container theme-showcase" role="main">
    <h2>Create</h2>
    <p>Can't find one chat, create yours !</p>
    <form method="post" action="/chat">
        <label>Name : </label> <input type="text" name="name" id="name">
        <button type="submit" class="btn btn-sm btn-default">Create</button>
    </form>

</div>
</body>
</html>